@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

:root {
  font-size: 16px;
  scroll-behavior: smooth;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  appearance: none;
  -webkit-appearance: none;
  width: 0;
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.font-cabinet {
  font-family: "Cabinet Grotesk", sans-serif;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none !important;
}

.antd-select-custom .ant-select-selector {
  background-color: #0b3e81 !important;
  color: white !important;
  border: none !important;
}

.antd-select-custom.page .ant-select-selector {
  background-color: rgba(30, 136, 252, 0.4) !important;
  color: white !important;
  border: none !important;
}

.antd-select-custom .ant-select-selection-item {
  color: white !important;
}

.antd-select-custom .ant-select-arrow {
  color: white !important;
}
